.top-nav h1 {
    font-size: 32px;
    float: left;
    line-height: 56px
}

.container {
    margin: 0px auto;
    width: 400px;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.top-nav {
    position: fixed;
    top: 0px;
    background: black;
    color: white;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    padding: 0 0 0 48px;
    line-height: 96px
}

a:link {
    color: white;
    text-decoration: none;
}

.content {
    position: relative;
    top: 128px;
}