.top-nav h1 {
    font-size: 32px;
    color:white;
    display: inline-block;
}

.top-nav{
    background-color: black;
    padding: 10px;
   line-height:1em;
    position: fixed;
    width: 100%;
    top:0;
  
}

.content{
    margin-top: 170px;
}

ul.nav{
    list-style: none;
    margin-left: -50px;
}

a{
    color: white;
}
li{
    display: inline;
    padding: 10px;
}

.container {
    margin: 0px auto;
    width: 400px;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}